
.box-formacao{
    margin: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-preparada {
    width: 100%;
}

.box-subtitle{
    max-width: 500px;
    text-align: left;
}

.box-formacao h2{
    border-bottom: 2px solid rgba(51, 24, 24, 0.2);
    font-weight: bold;

}
.box-partidos{
   background-color: #E84B4C;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
}

.box-partidos-main{
    display: flex;
    flex-direction: row;
    margin: 15px;

}
.box-partidos-main img{
    height: 300px;
}
.box-partidos-texts{
    max-width: 400px;
}

@media (max-width: 480px){
   .section-esteja-preparada{
       display: flex;
       flex-direction: column;
   }
   .box-partidos-main{
    display: flex;
    flex-direction: column;
    }
}