.nav-main{
    padding: 60px !important;
    margin-left: 80px !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
button{
    width: 80px;
}
.nav img{
    width: 140px;
    height: 100px;
}
.item-lista{
    font-size: 12px;
    border-bottom: solid 1px black ;
    text-align: center;
}
.item-lista li{
    text-align: center;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    background: #E84B4C;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:hover a {
    background: #E84B4C;
}

#basic-nav-dropdown{
    color: black; 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px;
    margin-top: 7px;
}

#basic-nav-dropdown:hover{
    background: #E84B4C;
    color: #ffc310;
}


.navbar-expand-lg .navbar-collapse {
    margin-top: 40px;
}
li{
    color: black; 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    height: 30px;
    padding: 5px
}
li:hover{
    background: #E84B4C;
    color: #ffc310;
}

a{
    list-style: none  !important;
    text-decoration: none  !important;
}

.icon-redes-nav img{
    width: 20px;
    height: 20px;
    margin: 8px 10px ;
}
.icon-redes-nav{
    margin-top: 8px;
    display: flex;
}

@media (max-width: 796px){
    .nav img{
        width: 80px;
        height: 50px;
    }    
}
@media (max-width: 480px){
    .nav-main{
        padding: 30px !important;
        margin: 0px !important;
    }
    .nav img{
        width: 80px;
        height: 50px;
    }
    .icon-redes-nav img{
        margin-right: 10px;
    }
    li{
        font-size: 15px;
        margin-left: -5px;;
    }
    #basic-nav-dropdown {
        font-size: 15px;
        padding: 0px;
    }
    .dropdown, .dropleft, .dropright, .dropup {
        width: 160px;
    }
    .navbar-light .navbar-nav .nav-link {
        width: 160px;
    }
    
}
