.atividades-presenciais{
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px ;
}
.img-mapa{
    height: 200px;
    margin-bottom: 30px;
}
.box-img-banner-atividades{
    width: 100%;
}

.box-texts-atividades{
    max-width: 500px;
}

@media (max-width: 796px){
  
}
@media (max-width: 480px){
    .img-mapa{
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }
    .box-texts-atividades p{
        font-size: 12px;
    }
   
}
