
.section-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #331818;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}
.section-sobre{
    opacity: 0;
    transform: translate(-20px);
    animation: section-sobre 0.3s forwards;
}
@keyframes section-sobre{
    to{
        opacity: 1;
        transform: initial;
    }
}

.first-box-banner img{
    width: 100%;
}
.second-box-banner{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px ;
} 
.box-title-banner{
    margin: 15px;
}
@media (max-width: 480px){
    
    .first-box-banner img{
        height: 100px;
    }
    .box-title-banner h2{
        font-size: 15px;
        margin-top: 20px;
    }
    .box-title-banner p{
        font-size: 13px;
        margin-top: 20px;
    }
    .efeito-mark{
      display: none;
    }
    .second-box-banner{
      width: 100%;
    }

}
