.footer{
    background-color: #331818;
    height: 280px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #ffc310;
    font-weight: bold;
}

.icon-redes-footer{
    display: flex;
    justify-content: space-around;
}
.icon-redes p{
    margin-top: 10px;
}
.box-icon-redes{
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px #ffc310;
}
.icon-rede-git{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.icon-site-baoba {
    display: flex;
    justify-content: flex-start;
    margin-left: 790px;
    margin-top: -217px;
    text-align: center;
    color: aliceblue;
}
.icon-site-baoba img {
    width: 62px;
}

.img-footer{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.img-gitHub{
    width: 35px;
    height: 35px;
}
@media (max-width: 480px){
    .footer p {
        font-size: 10px;
    }
    .icon-site-baoba{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    .icon-site-baoba img {
        width: 40px;
        height: 50px;
    }
}
