.footer{
    background-color: #331818;
    height: 270px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #ffc310;
    font-weight: bold;
    font-size: 13px;

}

.icon-redes-footer{
    display: flex;
    margin-left: 30px;
}
.icon-redes p{
    margin-top: 10px;
}
.box-icon-redes{
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px #ffc310;
}
.box-icon-redes img{
    width: 35px;
    height: 35px;
}
.icon-rede-git{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-site-baoba {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    color: aliceblue;
    flex-direction: column;
    margin-left: 700px;
    margin-top: -105px;
}
.icon-site-baoba img {
    width: 60px;
    height: 80px
}
.logo-footer{
    width: 120px;
}
.img-footer{
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 10px;
}
.img-gitHub{
    width: 30px;
    height: 30px;
}
@media (max-width: 480px){
    .footer{
        width: 100%;
    }
    .footer p {
        font-size: 10px;
    }
    .icon-site-baoba{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    .icon-site-baoba img {
        width: 30px;
        height: 40px;
    }
    .logo-footer{
        width: 80px;
    }
    .img-footer{
        width: 20px !important; 
        height: 20px !important;
    }
    .img-gitHub{
        width: 20px !important; 
        height: 20px !important;
    }
}
