.footer{
    background-color: #331818;
    height: 250px;
    width: 100%;
    color: #ffc310;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon-redes-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 330px;
}
.box-icon-redes img{
    width: 35px;
    height: 35px;
}

.box-redes-footer{
    border-bottom: solid 2px #ffc310 ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.box-redes-footer img{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.img-gitHub{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: -7px;
}
.box-main-apoio{
    display: flex;
}
.box-main-apoio p{
    margin-left: 20px;
}
.img-baobar{
    width: 50px;
    margin-left: 20px;
}
.box-apoio{
    color: aliceblue;
    text-align: center;
    margin-right: 150px;
}
.icon-rede-git{
    display: flex;
}

@media (max-width: 480px){
    .box-redes-footer{
        display: flex;
    }
    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center ;
    }
    .icon-redes-footer{
        margin: 0;
    }
    .icon-site-baoba img {
        width: 30px;
        height: 40px;
    }
    .logo-footer{
        width: 114px;
        height: 80px;
    }
    .img-footer{
        width: 20px !important; 
        height: 20px !important;
    }
    .img-gitHub{
        width: 20px !important; 
        height: 20px !important;
        margin-left: 5px;
        margin-top: -7px;
    }
    .img-baobar {
        width: 30px;
        margin-left: 10px;
    }
    .box-main-apoio {
        display: flex;
        margin-left: 137px;
    }
}
