.section-podcast{
    opacity: 0;
    transform: translate(-20px);
    animation: section-podcast 0.3s forwards;
}
@keyframes section-podcast{
    to{
        opacity: 1;
        transform: initial;
    }
}
.section-podcast{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}
.box-title{
    background-color:#FFC310;
    height: 50px;
    width: 50%;
    align-items: center;
    border-bottom: solid 2px rgba(51, 24, 24, 0.2);
}
.box-conteudo img{
    width: 350px;
    height: 200px;
}
.box-texts-podcast{
    width: 400px;
    text-align: left;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}
.box-texts-podcast h2{
    font-size: 20px;
                    
}
.link-podcast{
    color: #FFC310;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    border-bottom: 2px solid #FFC310;
    width: 100px;
}

.box-texts h2{
    font-size: 24px;
}
.box-conteudo{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media (max-width: 796px){
    .box-conteudo{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 480px){
    .box-conteudo{
       display: flex;
       flex-direction: column;
    }

    .box-texts-podcast h2{
        font-size: 15px; 
        margin: 0px;  

    }
    .box-texts-podcast {
        width: 320px;     
        font-size: 13px;      
    }
    .box-texts p {
        width: 100%;
        font-size: 13px;

    }
    .link-podcast {
        margin-left: 0px; 
    }

}